{% extends 'index.html' %}

{% block title %}
Change password
{% endblock %}

{% block header %}
<h1>Страница смены пароля</h1>
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды.</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"></p>
        </form>
    {% else %}
        <p>Ссылка для смены пароля недействительна, возможно, потому, что она уже использовалась.</p>
        <p>Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}