{% extends 'index.html' %}

{% block title %}
Category
{% endblock %}

{% block header %}
<h1>Категории</h1>
<h3>Изменение категории.</h3>
{% endblock %}

{% block content %}
<p><a href="{% url 'category_list' %}">Вернуться</a> к списку категорий.</p>
<div>
    <div>
        <h3>{{ category.name }}</h3>
        <p>Описание:</p>
        <p>{{ category.description }}</p>
        {% if request.user.is_staff %}
        <p>Автор: {{ category.created_by.user.username }}</p>
        {% endif %}
        <p>Дата создания: {{ category.created_at }}</p>
        <p>Последнее изменение: {{ category.updated_at }}</p>
    </div>
</div>
<div id="form">
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Изменить"></p>
    </form>
</div>
{% endblock %}
