{% extends 'index.html' %}

{% block title %}
Category
{% endblock %}

{% block header %}
<h1>Категории</h1>
    {% if category.deleted is None and category.deleted_at is None %}
        <h3>Удаление категории.</h3>
    {% else %}
        <h3>Восстановление категории</h3>
    {% endif %}
{% endblock %}

{% block content %}
    {% if category.deleted is None and category.deleted_at is None %}
        <p>Вы действительно желаете удалить категорию?</p>
    {% else %}
        <p>Вы действительно желаете восстановить категорию?</p>
    {% endif %}
<div>
    <div>
        <h3>{{ category.name }}</h3>
        <p>{{ category.description }}</p>
        {% if request.user.is_staff %}
        <p>Автор: {{ category.created_by.user.username }}</p>
        {% endif %}
    </div>
</div>
<div id="form">
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Да"><a href="{% url 'category_list' %}">Нет</a></p>
    </form>

</div>
{% endblock %}
