{% extends 'index.html' %}

{% block title %}
Categories
{% endblock %}

{% block header %}
<h1>Категории задач</h1>
{% endblock %}

{% block content %}
{% for category in categories %}
<div>
    <div>
        <h3>{{ category.name }}</h3>
        {% if request.user.is_staff %}
        <p>Автор: {{ category.created_by.user.username }}</p>
        {% endif %}
        <p>Описание:</p>
        <p>{{ category.description }}</p>
        <p>Дата создания:</p>
        <p>{{ category.created_at }}</p>
        <p>Последнее изменение:</p>
        <p>{{ category.updated_at }}</p>
        {% if category.deleted is None and category.deleted_at is None %}
        <p><a href="category/{{ category.id }}">Изменить</a></p>
        <p><a href="delete/{{ category.id }}">Удалить</a></p>
        {% else %}
        <p>Дата удаления: {{ category.deleted_at }}</p>
        {% if request.user.is_staff %}
        <p>Дата удаления администратором: {{ category.deleted }}</p>
        {% endif %}
        <p><a href="{{ category.id }}">Восстановить</a></p>
        {% endif %}
    </div>

</div>

{% endfor %}
<div id="form">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Добавить"></p>
        </form>
    </div>
{% endblock %}
