{% extends 'index.html' %}

{% block title %}
Priorities
{% endblock %}

{% block header %}
<h1>Важности</h1>
<h3>Ваши критерии важности задач.</h3>
{% endblock %}

{% block content %}
<p><a href="{% url 'task_list' %}">Вернуться</a> к списку задач.</p>
<div>
{% for priority in priorities %}
<div>
    <div id>
        <h3>{{ priority.name }}</h3>
        {% if request.user.is_staff %}
        <p>Автор: {{ priority.created_by.user.username }}</p>
        {% endif %}
        <p>Дата создания: {{ priority.created_at }}</p>
        <p>Последнее изменение: {{ priority.updated_at }}</p>
        <p><a href="priority/{{ priority.id }}">Изменить</a></p>
        <p><a href="delete/{{ priority.id }}">Удалить</a></p>
    </div>
</div>
{% endfor %}
</div>
<div id="form">
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Добавить"></p>
    </form>
</div>
{% endblock %}
