{% extends 'index.html' %}

{% block title %}
Priority
{% endblock %}

{% block header %}
<h1>Важности</h1>
    {% if priority.deleted is None and priority.deleted_at is None %}
        <h3>Удаление критерия.</h3>
    {% else %}
        <h3>Восстановление критерия</h3>
    {% endif %}
{% endblock %}

{% block content %}
    {% if priority.deleted is None and priority.deleted_at is None %}
        <p>Вы действительно желаете удалить критерий?</p>
    {% else %}
        <p>Вы действительно желаете восстановить критерий?</p>
    {% endif %}
<div>
    <div>
        <h3>{{ priority.name }}</h3>
    </div>
</div>
<div id="form">
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Да"><a href="{% url 'priority_list' %}">Нет</a></p>
    </form>

</div>
{% endblock %}
