{% extends 'index.html' %}

{% block title %}
Task list
{% endblock %}

{% block header %}
        <h1>Список задач</h1>
{% endblock %}

{% block content %}
{% if status == 'actually' %}
    <p><a href="{% url 'priority_list' %}">Приоритеты.</a></p>
    <p><a href="{% url 'category_list' %}">Категории.</a></p>
    <p><a href="{% url 'task_create' %}">Добавить задачу.</a></p>
{% else %}
    <p><a href="{% url 'deleted_priority_list' %}">Удаленные приоритеты.</a></p>
    <p><a href="{% url 'deleted_category_list' %}">Удаленные категории.</a></p>
{% endif %}

<div>
    <form action="" method="get">
        {{ filter_form.as_p }}
        <input type="submit" value="Применить фильтр">
        <p><a href="{% url 'task_list' %}">Сбросить фильтр</a></p>
    </form>
</div>
<div>
    <form action="" method="get">
        {{ sorted_form.as_p }}
        <input type="submit" value="Применить сортировки">
        <p><a href="{% url 'task_list' %}">Сбросить фильтр</a></p>
    </form>
</div>
{% for task in tasks %}
<div>
    <div id="tasklist">
        <h3><a href="{{ task.id }}">{{ task.title }}</a></h3>
        {% if request.user.is_staff %}
        <p>Автор: {{ task.created_by.user.username }}</p>
        {% endif %}
        <p>Категория: {{ task.category.name }}</p>
        <p>Важность: {{ task.priority.name }}</p>
        <p>Статус: {{ task.get_status_display }}</p>
        <p>Срок выполнения: {{ task.completed }}</p>
        {% if task.deleted_at is None and task.deleted is None %}
        <p><a href="delete/{{ task.id }}">Удалить</a></p>
        {% else %}
            {% if request.user.is_staff %}
                <p>Удалено пользователем: {{ task.deleted_at }}</p>
                <p>Удалено администратором: {{ task.deleted }}</p>
            {% else %}
                {% if task.deleted is None %}
                    <p>Удалено {{task.deleted_at}}</p>
                {% else %}
                    <p>Удалено администратором</p>
                {% endif %}
            {% endif %}
            {% if task.deleted is None or request.user.is_staff %}
                <p><a href="{{task.id}}">Восстановить</a></p>
            {% endif %}
        {% endif %}
    </div>
    <div>

    </div>
</div>
{% endfor %}
{% endblock %}
