{% extends 'index.html' %}

{% block title %}
Task detail
{% endblock %}

{% block header %}
<h1>Задача</h1>
<h3>Подробная информация.</h3>
{% endblock %}

{% block content %}
<div>
    <h3>{{ task.title }}</h3>
    {% if request.user.is_staff %}
    <p>Автор: {{ task.created_by.user.username }}</p>
    {% endif %}
    <p>Описание: {{ task.description }}</p>
    <p>Категория: {{ task.category }}</p>
    <p>Важность: {{ task.priority }}</p>
    <p>Статус:</p>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сохранить">
        </form>
    </div>
    <p>Срок выполнения: {{ task.completed }}</p>
    <p>Дата создания: {{ task.created_at }}</p>
    <p>Последнее обновление: {{ task.updated_at }}</p>
    <p><a href="/tasks/update/{{ task.id }}">Изменить</a></p>
</div>
{% endblock %}
