{% extends 'index.html' %}

{% block title %}
Task
{% endblock %}

{% block header %}
<h1>Задачи</h1>
<h3>Удаление задачи.</h3>
{% endblock %}

{% block content %}
<p>Вы действительно желаете удалить задачу?</p>
<div>
    <div>
        <h3>{{ task.title }}</h3>
        <p>Описание: {{ task.description }}</p>
        {% if request.user.is_staff %}
        <p>Автор: {{ task.created_by.user.username }}</p>
        {% endif %}
    </div>
</div>
<div id="form">
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Да"><a href="{% url 'task_list' %}">Нет</a></p>
    </form>

</div>
{% endblock %}
